/* Style Tag */

h3{
  text-align: center;
  font-size: 30px;
  color: white;
}

h4{
  font-size: 20px;
  color: black;
}

h5{
  font-size: 22px;
}

body{
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

hr{
  border: 1px white solid;
}

/* Style Class */

.jumbotron{
  background-color: gray;
  height: 300px;
}

.modal-title{
  font-size: 22px;
}
/* Style Id */

#btn1{
  text-align: center;
  font-size: 25px;
}

#btn2{
  text-align: center;
  font-size: 25px;
}

#btn3{
  text-align: center;
  font-size: 25px;
}

#btn4{
  color: white;
  font-size: 20px;
}

#btn5{
  color: white;
  font-size: 20px;
}

#btn6{
  color: white;
  font-size: 20px;
}

#link{
  color: white;
  font-size: 20px;
}